.balpart{
    text-align: center;
    font-size: x-large;
    padding-left: 10px;
    overflow: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(45, 45, 45, 0.69) 0px 5px 15px;
    color: rgb(0, 0, 0);
    
    
}
*{
    font-family: monospace;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 20px;
}
.LI{
    border: none;
    border-radius: 10px;

    box-shadow: rgba(26, 26, 26, 0.69) 0px 5px 15px;
    margin-bottom: 10px;
}

.exp{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgba(247, 248, 248, 0);
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}
.credit{
    overflow: auto;
    border: 3px solid rgb(19, 254, 55);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgba(34, 225, 85, 0.862);
    width:50%;
    color: rgb(254, 253, 253);
    box-shadow: rgba(45, 45, 45, 0.69) 0px 5px 15px;

}
.debit{
    overflow: auto;
    border: 3px solid rgba(235, 68, 68, 0.859);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width:50%;
    background-color: rgba(235, 68, 68, 0.859);
    color: aliceblue;
    
    box-shadow: rgba(45, 45, 45, 0.69) 0px 5px 15px;
}

.inpcard{
    padding: 10px;

}

.TF{
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
}


.inpbtn{
    margin: 10px;
    width: 100%;
    border: 10px;
}